<h1 mat-dialog-title style="text-align: center;">Benvenuto in Ge.Pre.</h1>
<div mat-dialog-content style="text-align: center;">
    <p>Benvenuto {{data.nome}} {{data.cognome}}. Questo è il tuo primo accesso! Durante questa prima fase ti verrà chiesto di scegliere una password personale.</p>

</div>
<div mat-dialog-actions style="float:right">
  <button mat-button cdkFocusInitial (click)="onChiudi()">Chiudi</button>
</div>