<div class="grid-container">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
  
          <mat-form-field style="width:100%">
            <input matInput placeholder="nome" name="nome" id="nome" ngModel class="form-control" required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" style="margin:auto">Salva</button>

        </form>
  </div>