<div class="riga">
  <a (click)="onPresenza()" style="cursor: pointer" class="riga">
    <mat-icon class="text">input</mat-icon>
    <h2 class="text">
      Registra presenza
    </h2>
    </a>
</div>
<div class="riga">
  <a (click)="onDipendente()" style="cursor: pointer" class="riga">
    <mat-icon class="text">assignment_ind</mat-icon>
    <h2 class="text">
      Registra nuovo dipendente
    </h2>
  </a>
</div>
<div class="riga">
  <a (click)="onOspite()" style="cursor: pointer" class="riga">
    <mat-icon class="text">face</mat-icon>
    <h2 class="text">
      Registra nuovo ospite
    </h2>
    </a>
</div>
<div class="riga">
    <a (click)="onReport()" style="cursor: pointer" class="riga">
      <mat-icon class="text">view_day</mat-icon>
      <h2 class="text">
        Report
      </h2>
      </a>
  </div>
