<div class="grid-container">
  <mat-card style="width:50%;     
  margin-right: auto;
  margin-left: auto;
  background-color: white;">
    <mat-card-header>
      <img src="assets/img/logoblue.svg" alt="Ge.Pre." style="margin:auto">

    </mat-card-header>
    <mat-card-content>
      <form #f="ngForm">

        <mat-form-field style="width:100%">
          <input matInput placeholder="email" name="email" id="email" ngModel class="form-control" required email>
        </mat-form-field>

        <mat-form-field style="width:100%">
          <input matInput placeholder="password" type="password" name="password" id="password" ngModel class="form-control"
            required >
        </mat-form-field>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onSignin()" color="accent" style="margin:auto">Login</button>
    </mat-card-actions>
  </mat-card>
</div>