.bg { 
    /* The image used */
    background-image: url("../../../assets/img/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.back{
    background-color: rgba(255, 255, 255, 0.87);
}

mat-form-field.mat-form-field {
    caret-color: white !important;
  }

mat-form-field .mat-form-field .mat-form-field-label {
    color: white !important;
  }
  ::ng-deep snack-bar-container.custom-class {
    background: #a30030;
  }
  
  ::ng-deep .custom-class .mat-simple-snackbar {
    color: white;
  }
  