<mat-card>

    <form [formGroup]="assenzeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" mat-flat-button color="primary" [disabled]="!assenzeForm.valid">Salva</button>
          <button type="button" mat-flat-button color="accent" (click)="onClear()" style="margin-left:3px;">Pulisci</button>
        </div>
      </div>
  
      <mat-form-field style="width:100%">
        <input type="text" placeholder="Dipendente" aria-label="Number" matInput [formControl]="dipendenteControl"
          [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredDipendenti | async" [value]="option">
            {{option.nome}} {{option.cognome}} - {{option.badge}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      <br>
      <mat-form-field style="width:50%">
        <input matInput [matDatepicker]="pickerInizio" placeholder="Seleziona data entrata" formControlName="inizio"
          [min]="minDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerInizio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInizio disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width:25%">
        <mat-select placeholder="ora" formControlName="oraInizio" required>
          <mat-option>--</mat-option>
  
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:25%">
        <mat-select placeholder="minuto" formControlName="minutoInizio" required>
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field style="width:50%">
        <input matInput [matDatepicker]="pickerFine" placeholder="Seleziona data uscita" formControlName="fine" [min]="minDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerFine"></mat-datepicker-toggle>
        <mat-datepicker #pickerFine disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width:25%">
        <mat-select placeholder="ora" formControlName="oraFine" required>
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:25%">
        <mat-select placeholder="minuto" formControlName="minutoFine" required>
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard" style="width:100%">
          <mat-label>Tipo</mat-label>
          <input matInput id='tipo' formControlName='tipo' required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard" style="width:100%">
            <mat-label>Motivo</mat-label>
            <input matInput id='motivo' formControlName='motivo' required>
          </mat-form-field>
          <br>
      <mat-form-field appearance="standard" style="width:100%">
          <mat-label>Luogo</mat-label>
          <input matInput id='luogo' formControlName='luogo'>
        </mat-form-field>
    </form>
  </mat-card>