
<h3>Presenze ospiti attive oggi</h3>
<p style="margin-top:-20px">({{date | date:'dd/MM/yyyy'}})</p>
<app-presenze-list [ricerca]=false [ospite]=true></app-presenze-list>

<mat-divider></mat-divider>

<h3>Ospiti registrati</h3>
<app-ospite-list></app-ospite-list>

