<div class="grid-container">

  <form>
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>     

      <input  type="file" id='file' required (change)="fileCaricato($event)">
      <button type="submit" mat-flat-button color="primary" (click)="onUpload()">Carica</button>

    <br>


  </form>

</div>