<h1 mat-dialog-title style="text-align: center;">Assenza numero {{data.id}}</h1>
<div mat-dialog-content style="text-align: center;">
  <p><b>Nome:</b> {{data.dipendente.nome}}</p>
  <p><b>Cognome:</b> {{data.dipendente.cognome}}</p>
  <p><b>Badge:</b> {{data.dipendente.badge}}</p>
  <p><b>Ora entrata:</b> {{data.inizio | date:'HH:mm dd/MM/yyyy'}}</p>
  <p><b>Ora uscita:</b> {{data.fine | date:'HH:mm dd/MM/yyyy'}}</p>
  <p><b>Tipo:</b> {{data.tipo}}</p>
  <p><b>Motivo:</b> {{data.motivo}}</p>
  <p><b>Luogo:</b> {{data.luogo}}</p>

  <p><b>Area:</b> {{data.dipendente.area}}</p>

</div>
<div mat-dialog-actions style="float:right">
  <button mat-button cdkFocusInitial (click)="onChiudi()">Chiudi</button>
</div>