<div class="grid-container">
  <div class="row">
    <button (click)="onAddOspite()" mat-flat-button color="primary">Aggiungi ospite</button>
    <button (click)="onIndietro()" mat-flat-button color="primary" style="margin-left:3px">Indietro</button>
  </div>
  <router-outlet></router-outlet>
</div>