<app-presenze-edit></app-presenze-edit>
<br>
<div>
    <h3 style="display:inline-block">Presenze dipendenti attive oggi</h3> <button mat-button (click)="onRicarica()" style="padding-left:0;">
        <mat-icon>refresh</mat-icon>
    </button>
</div>

<p style="margin-top:-20px">({{date | date:'dd/MM/yyyy'}})</p>
<app-presenze-list [ricerca]=false [ospite]=false></app-presenze-list>
<mat-divider></mat-divider>
<h3 style="display:inline-block">Presenze ospiti attive oggi</h3> <button mat-button (click)="onRicarica()" style="padding-left:0;">
    <mat-icon>refresh</mat-icon>
</button>
<p style="margin-top:-20px">({{date | date:'dd/MM/yyyy'}})</p>
<app-presenze-list [ricerca]=false [ospite]=true></app-presenze-list>