<div class="grid-container">

  <form [formGroup]="ricercaForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" mat-flat-button color="primary" [disabled]="!ricercaForm.valid">Cerca</button>
      </div>
    </div>
    <br>
    <mat-form-field style="width:100%">
      <input type="text" placeholder="Dipendente" aria-label="Number" matInput [formControl]="dipendente"
        [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.nome}} {{option.cognome}} - {{option.badge}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

</div>