<mat-card>
  <mat-tab-group>
    <mat-tab label="Anagrafica">
        <ng-template matTabContent>
      <h1>Dati anagrafici</h1>
      <mat-label style="font-weight:900 !important;">Badge:</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].badge }}
      </p>
      <mat-label style="font-weight:900 !important;">Nome:</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].nome }}
      </p>
      <mat-label style="font-weight:900 !important;">Cognome:</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].cognome }}
      </p>
      <mat-label style="font-weight:900 !important;">Profilo professionale:</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].profiloProfessionale }}
      </p>
      <mat-label style="font-weight:900 !important;">Funzione aziendale:</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].funzAziendale }}
      </p>
      <mat-label style="font-weight:900 !important;">Sede:</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].sede }}
      </p>
      <mat-label style="font-weight:900 !important;">Rapporto lavorativo:</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].rapporto }}
      </p>
      <mat-label style="font-weight:900 !important;">Area di lavoro:</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].area.nomeArea }}
      </p>
      <mat-label style="font-weight:900 !important;">Società (opzionale):</mat-label>
      <p>
        {{ (dipendentiState | async).dipendenti[index].societa }}
      </p>
      <hr>
      <div>
        <button mat-flat-button color="primary" (click)='onModifica()'>Modifica profilo</button>
        <button mat-flat-button style="margin-left:3px;" (click)='onTorna()'>Torna indietro</button>
      </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Presenze">
        <ng-template matTabContent>
      <h1>Presenze dipendente</h1>
      <app-presenze-list [ricerca]=true ></app-presenze-list>
      <h1>Assenze dipendente</h1>
      <app-assenze-list [ricerca]=true ></app-assenze-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>