<mat-nav-list>
    <a mat-list-item (click)="goHome()">Home</a>
    <a mat-list-item (click)="onPresenze()">Presenze</a>
    <a mat-list-item (click)="onAssenze()">Assenze</a>
    <a mat-list-item (click)="onOspiti()">Ospiti</a>
    <a mat-list-item (click)="onDipendenti()">Dipendenti</a>
    <a mat-list-item (click)="onReportPresenze()" >Report</a>
    <a mat-list-item (click)="admin()" >Admin</a>

</mat-nav-list>