<div class="grid-container">

<form [formGroup]="ospiteForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-xs-12">
          <button
            type="submit" mat-flat-button color="primary"
            [disabled]="!ospiteForm.valid">Salva</button>
            <button type="button" mat-flat-button color="accent" (click)="onClear()" style="margin-left:3px;">Pulisci</button>
            <button type="button" mat-flat-button color="accent" (click)="onBack()" style="margin-left:3px;">Indietro</button>
          </div>
      </div>

    <br>
    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Nome</mat-label>
      <input matInput id='nome' formControlName='nome' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Cognome</mat-label>
      <input matInput id='cognome' formControlName='cognome' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Documento riconoscimento</mat-label>
      <input matInput id='documentoId' formControlName='documentoId' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Società</mat-label>
      <input matInput id='societa' formControlName='societa' required>
    </mat-form-field>
    <br>
  
  </form>
</div>