<h1 mat-dialog-title style="text-align: center;">Presenza numero {{data.id}}</h1>
<div mat-dialog-content style="text-align: center;">
    <p><b>Nome:</b> {{data.isOspite ? data.ospite.nome: data.dipendente.nome}}</p>
    <p><b>Cognome:</b> {{data.isOspite ? data.ospite.cognome: data.dipendente.cognome}}</p>
    <p><b>Badge:</b> {{data.isOspite ? data.badge: data.dipendente.badge}}</p>
    <p><b>Ora entrata:</b> {{data.inizio | date:'HH:mm dd/MM/yyyy'}}</p>
    <p><b>Ora uscita:</b> {{data.fine | date:'HH:mm dd/MM/yyyy'}}</p>
    <div *ngIf="!data.isOspite"> 
        <p><b>Area:</b> {{data.dipendente.area.nomeArea}}</p>
    </div>
    <div *ngIf="data.isOspite"> 
        <p><b>Documento identità:</b> {{data.ospite.documentoID}}</p>
        <p><b>Riferimento interno:</b> {{data.dipendente.nome}} {{data.dipendente.cognome}}</p>
    </div> 
    <p [style.color]="data.isOspite ? 'red' : 'grey'"><b>Ospite:</b> {{data.isOspite? 'si' : 'no'}}</p>

</div>
<div mat-dialog-actions style="float:right">
  <button mat-button cdkFocusInitial (click)="onChiudi()">Chiudi</button>
</div>