    <div class="row">
          <button (click)="onAggiungiDipendente()" mat-flat-button color="primary" >Aggiungi dipendente</button>
        </div>
      
<mat-card style="margin-top:10px;">

<div class="spinner-container" *ngIf="!(dataSource.loading$ | async)">
  <mat-spinner></mat-spinner>
</div>
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" style="box-shadow:none;
margin: -1%;
">

  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let dipendente">{{dipendente.nome}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cognome">
    <mat-header-cell *matHeaderCellDef>Cognome</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let dipendente">{{dipendente.cognome}}</mat-cell>

  </ng-container>

  <ng-container matColumnDef="badge">
    <mat-header-cell *matHeaderCellDef>Badge</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let dipendente">{{dipendente.badge}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef style="border:0;"> .</th>
      <td mat-cell *matCellDef="let dipendente; let i = index" style="border:0; padding-right:0">
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDettagli(i,dipendente.id)">Dettagli</button>
            <button mat-menu-item (click)="onModifica(i)">Modifica</button>
            <button mat-menu-item (click)="onElimina(i,dipendente.id)">Elimina</button>
         </mat-menu>
      </td>
    </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" #row></mat-row>
</mat-table>       
</mat-card>