<div class="grid-container">

  <form [formGroup]="ricercaForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" mat-flat-button color="primary" [disabled]="!ricercaForm.valid">Cerca</button>
      </div>
    </div>
    <br>
    <mat-form-field style="width:50%">
      <input matInput [matDatepicker]="pickerInizio" placeholder="da" formControlName="inizio"
        [max]="maxDate" required>
      <mat-datepicker-toggle matSuffix [for]="pickerInizio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInizio disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width:50%">
        <input matInput [matDatepicker]="pickerFine" placeholder="a" formControlName="fine"
          [max]="maxDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerFine"></mat-datepicker-toggle>
        <mat-datepicker #pickerFine disabled="false"></mat-datepicker>
      </mat-form-field>
  </form>

</div>