<div class="grid-container">

  <form [formGroup]="ricercaForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" mat-flat-button color="primary" [disabled]="!ricercaForm.valid">Cerca</button>
      </div>
    </div>
    <br>
    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Badge</mat-label>
      <input matInput id='badge' formControlName='badge' required>
    </mat-form-field>
  </form>

</div>