<div class="grid-container">

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" mat-flat-button color="primary" [disabled]="!userForm.valid">Salva</button>
        <button type="button" mat-flat-button color="accent" (click)="onClear()" style="margin-left:3px;">Pulisci</button>
        <button type="button" mat-flat-button color="accent" (click)="onBack()" style="margin-left:3px;">Indietro</button>
      </div>
    </div>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Nome</mat-label>
      <input matInput id='nome' formControlName='nome' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Cognome</mat-label>
      <input matInput id='cognome' formControlName='cognome' required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Email</mat-label>
      <input matInput id='email' formControlName='email' email required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Password</mat-label>
      <input matInput id='password' formControlName='password' required>
    </mat-form-field>
    <br>


  </form>
  <mat-checkbox placeholder="Amministratore" [(ngModel)]="amministratore">Amministratore</mat-checkbox>

</div>