<mat-card>
  <button mat-button (click)="downloadFile(null)" style="    
    float: right;
    position: absolute;
    right: 0;
    top: 0;">
    Download
    <mat-icon>cloud_download</mat-icon>
  </button>
  <div class="spinner-container" *ngIf="!(dataSource.loading$ | async)">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" style="box-shadow:none; margin-top:10px;">

    <!-- <ng-container matColumnDef="badge">
      <mat-header-cell *matHeaderCellDef>badge</mat-header-cell>

      <mat-cell *matCellDef="let assenza">{{ assenza.dipendente.badge}}</mat-cell>

    </ng-container> -->

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>nome</mat-header-cell>
      <mat-cell *matCellDef="let assenza">{{ assenza.dipendente.nome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cognome">
      <mat-header-cell *matHeaderCellDef>cognome</mat-header-cell>
      <mat-cell *matCellDef="let assenza">{{ assenza.dipendente.cognome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="inizio">
      <mat-header-cell *matHeaderCellDef>data inizio</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let assenza">{{assenza.inizio | date:'dd/MM/yyyy HH:mm'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fine">
      <mat-header-cell *matHeaderCellDef>data fine</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let assenza">{{assenza.fine | date:'dd/MM/yyyy HH:mm'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef>tipo</mat-header-cell>
      <mat-cell *matCellDef="let assenza">{{ assenza.tipo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="motivo">
      <mat-header-cell *matHeaderCellDef>motivo</mat-header-cell>
      <mat-cell *matCellDef="let assenza">{{ assenza.motivo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef style="border:0;"></th>
      <td mat-cell *matCellDef="let assenza; let i = index" style="border:0; padding-right:0">
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onDettagli(assenza)">Dettagli</button>
          <div *ngIf="!ricerca">
            <button mat-menu-item (click)="onModifica(i)">Modifica</button>
            <button mat-menu-item (click)="onElimina(i,assenza)">Elimina</button>
          </div>
        </mat-menu>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" #row [@list]=""></mat-row>


  </mat-table>
</mat-card>