<div class="container">
        <app-header></app-header>
    <mat-sidenav-container class="sidenav-container" [style.marginTop]="authenticated ? '56px': '0'"
        [style.backgroundColor]="authenticated ? '': '#081c2b'">

        <mat-sidenav *ngIf="authenticated" mode="side" opened fixedTopGap="56" style="position: fixed;margin-top:56px;transform: none;visibility: visible;width: 30%;">
            <div style="margin-left: 16px; margin-top: 15px; margin-right: 10px; display: flex;">
                <h2 class="mat-h2">
                    Benvenuto
                    <br>
                    {{ nome ? nome : ''}}
                </h2>
                <span class="fill-remaining-space"></span>

                <img src="assets/img/user.svg" alt="" style="height:64px;">

            </div>
            <app-sidenav></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content style="margin-left:31%">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>