<div class="grid-container">
  <mat-card>
    <form [formGroup]="profile" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" mat-flat-button color="primary" [disabled]="!profile.valid">Salva</button>
        </div>
      </div>

      <br>
      <mat-form-field appearance="standard" style="width:100%">
        <mat-label>Email</mat-label>
        <input matInput id='email' formControlName='email' required>
      </mat-form-field>
      <br>

      <br>
      <mat-form-field appearance="standard" style="width:100%">
        <mat-label>Password</mat-label>
        <input matInput id='password' formControlName='password' required>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="standard" style="width:100%">
        <mat-label>Confirm assword</mat-label>
        <input matInput id='confirm' formControlName='confirm' required>
      </mat-form-field>
      <br>



    </form>
  </mat-card>

</div>