<div class="grid-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Aggiungi receptionist
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-admin-nuovo-utente></app-admin-nuovo-utente>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Aggiungi area
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-area-edit></app-area-edit>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Carica dipendenti
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-upload-dipendenti></app-upload-dipendenti>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>