<mat-card [ngClass]="home? 'home': ''">

  <button mat-button (click)="downloadFile(null)" style="    
  float: right;
  position: absolute;
  right: 0;
  top: 0;"
    *ngIf="!home">
    Download
    <mat-icon>cloud_download</mat-icon>
  </button>
  
  <mat-table class="lessons-table mat-elevation-z8" [ngClass]="home? 'home': ''" [dataSource]="dataSource" style="box-shadow:none; margin-top:10px;">
    <div class="spinner-container" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <ng-container matColumnDef="badge">
      <mat-header-cell [ngClass]="home? 'home': ''" *matHeaderCellDef>badge</mat-header-cell>

      <mat-cell [ngClass]="home? 'home': ''" *matCellDef="let presenza">{{presenza.isOspite ? presenza.badge :
        presenza.dipendente.badge}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell [ngClass]="home? 'home': ''" *matHeaderCellDef>nome</mat-header-cell>
      <mat-cell [ngClass]="home? 'home': ''" *matCellDef="let presenza">{{presenza.isOspite ? presenza.ospite.nome :
        presenza.dipendente.nome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cognome">
      <mat-header-cell [ngClass]="home? 'home': ''" *matHeaderCellDef>cognome</mat-header-cell>
      <mat-cell [ngClass]="home? 'home': ''" *matCellDef="let presenza">{{presenza.isOspite ? presenza.ospite.cognome :
        presenza.dipendente.cognome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="inizio">
      <mat-header-cell [ngClass]="home? 'home': ''" *matHeaderCellDef>data</mat-header-cell>
      <mat-cell [ngClass]="home? 'home': ''" class="duration-cell" *matCellDef="let presenza">{{presenza.inizio |
        date:'dd/MM/yyyy HH:mm'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="concluso">
      <mat-header-cell [ngClass]="home? 'home': ''" *matHeaderCellDef>stato</mat-header-cell>
      <mat-cell [ngClass]="home? 'home': ''" class="duration-cell" *matCellDef="let presenza">{{presenza.concluso ?
        'terminata' : 'in corso'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ospite">
      <mat-header-cell [ngClass]="home? 'home': ''" *matHeaderCellDef>ospite</mat-header-cell>
      <mat-cell [ngClass]="home? 'home': ''" class="duration-cell" *matCellDef="let presenza" [style.color]="presenza.isOspite? 'red': 'green'">{{presenza.isOspite
        ? 'si' : 'no'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef style="border:0;" [style.color]="home? '#a30030': 'white'">Azioni</th>
      <td mat-cell *matCellDef="let presenza; let i = index" style="border:0; padding-right:0">
        <div *ngIf="!home">
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon [ngClass]="home? 'home': ''">more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDettagli(presenza)">Dettagli</button>
            <div *ngIf="!ricerca">
              <button mat-menu-item (click)="onModifica(i)">Modifica</button>
              <button mat-menu-item (click)="onElimina(i,presenza)">Elimina</button>
            </div>
          </mat-menu>
        </div>
        <div *ngIf="home">
          <button mat-icon-button class="exit_to_app" aria-label="Uscita" (click)="onUscita(presenza)">
            <mat-icon [ngClass]="home? 'home': ''">exit_to_app</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" #row [@list]=""></mat-row>


  </mat-table>
</mat-card>