<div *ngIf="auth">
<mat-toolbar color="primary" class="toolbar">
  <img src="assets/img/logo.svg" alt="Ge.Pre." class="navbar-brand" (click)="goHome()">
  <span class="fill-remaining-space"></span>
  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
    <mat-icon>settings</mat-icon>

  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="admin" (click)="onAdmin()">Pannello di controllo</button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>
</div>