  img.navbar-brand{
    height: 56px ;
  }
  .fill-remaining-space {
   
    flex: 1 1 auto;
  }
  .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  