<mat-card style="box-shadow: none">
    <button mat-button (click)="null" style="    
    float: right;
    position: absolute;
    right: 0;
    top: 0;">
      Download
      <mat-icon>cloud_download</mat-icon>
    </button>  <div class="spinner-container" *ngIf="!(dataSource.loading$ | async)">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" style="box-shadow:none;">

      <ng-container matColumnDef="badge">
          <mat-header-cell *matHeaderCellDef>Badge</mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let presenza">{{presenza.dipendente.badge}}</mat-cell>
        </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>nome</mat-header-cell>
      <mat-cell *matCellDef="let presenza">{{presenza.dipendente.nome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cognome">
      <mat-header-cell *matHeaderCellDef>Cognome</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let presenza">{{presenza.dipendente.cognome}}</mat-cell>
    </ng-container>

   

    <ng-container matColumnDef="entrata">
      <mat-header-cell *matHeaderCellDef>Entrata</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let presenza; ">{{presenza.inizio | date:'dd/MM/yyyy'}} <br> {{presenza.inizio | date:'HH:mm'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="uscita">
        <mat-header-cell *matHeaderCellDef>Uscita</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let presenza; ">{{presenza.fine | date:'dd/MM/yyyy'}} <br> {{presenza.fine | date:'HH:mm'}}</mat-cell>
      </ng-container>
  

    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" #row></mat-row>
    

  </mat-table>  
</mat-card>