<div class="grid-container">

  <form [formGroup]="dipenendenteForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" mat-flat-button color="primary" [disabled]="!dipenendenteForm.valid">Salva</button>
        <button type="button" mat-flat-button color="accent" (click)="onClear()" style="margin-left:3px;">Pulisci</button>
        <button type="button" mat-flat-button color="accent" (click)="onBack()" style="margin-left:3px;">Indietro</button>
      </div>
    </div>
    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Badge</mat-label>
      <input matInput id='badge' formControlName='badge' required>
    </mat-form-field>

    <br>
    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Nome</mat-label>
      <input matInput id='nome' formControlName='nome' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Cognome</mat-label>
      <input matInput id='cognome' formControlName='cognome' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Profilo professionale</mat-label>
      <input matInput id='profiloProfessionale' formControlName='profiloProfessionale' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Funzione aziendale</mat-label>
      <input matInput id='funzAziendale' formControlName='funzAziendale' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Sede</mat-label>
      <input matInput id='sede' formControlName='sede' required>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Rapporto lavorativo</mat-label>
      <mat-select formControlName="rapporto" required>
        <mat-option value="consulente">Consulente</mat-option>
        <mat-option value="dipendente">Dipendente</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-select placeholder="Area" formControlName="area">
          <mat-option *ngFor="let area of aree; let i= index" [value]="i">
            {{area.nomeArea}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field appearance="standard" style="width:100%">
      <mat-label>Società</mat-label>
      <input matInput id='societa' formControlName='societa' required>
    </mat-form-field>
    <br>

  </form>
</div>