<div class="grid-container">
  <button (click)="onVisualizzaTutti()" mat-flat-button color="primary">Visualizza tutti presenti</button>
</div>

<mat-tab-group>
  <mat-tab label="Cerca per data">
    <mat-card style="margin-bottom:10px">
      <app-cerca-per-data></app-cerca-per-data>
    </mat-card>
  </mat-tab>
  <mat-tab label="Cerca per dipendente">
    <mat-card style="margin-bottom:10px">
      <app-cerca-per-dipendente></app-cerca-per-dipendente>
    </mat-card>
  </mat-tab>
  <mat-tab label="Cerca per ospite">
    <mat-card style="margin-bottom:10px">
      <app-cerca-per-ospite></app-cerca-per-ospite>
    </mat-card>
  </mat-tab>
  <mat-tab label="Cerca per badge">
    <mat-card style="margin-bottom:10px">
      <app-cerca-per-badge></app-cerca-per-badge>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<app-presenze-list [ricerca]="true"></app-presenze-list>