<mat-card>
  <mat-tab-group>
    <mat-tab label="Anagrafica">
      <ng-template matTabContent>
        <h1>Dati anagrafici</h1>

        <mat-label style="font-weight:900 !important;">Nome:</mat-label>
        <p>
          {{ (ospitiState | async).ospiti[index].nome }}
        </p>
        <mat-label style="font-weight:900 !important;">Cognome:</mat-label>
        <p>
          {{ (ospitiState | async).ospiti[index].cognome }}
        </p>
        <mat-label style="font-weight:900 !important;">Documento riconoscimento:</mat-label>
        <p>
          {{ (ospitiState | async).ospiti[index].documentoID }}
        </p>
        <mat-label style="font-weight:900 !important;">Società (opzionale):</mat-label>
        <p>
          {{ (ospitiState | async).ospiti[index].societa }}
        </p>
        <hr>
        <div>
          <button mat-flat-button color="primary" (click)='onModifica()'>Modifica profilo</button>
          <button mat-flat-button style="margin-left:3px;" (click)='onTorna()'>Torna indietro</button>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Presenze">
      <ng-template matTabContent>
        <h1>Presenze ospite</h1>
        <app-presenze-list [ospite]=true [ricerca]=true></app-presenze-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>