<mat-card>

  <form [formGroup]="presenzeForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" mat-flat-button color="primary" [disabled]="!presenzeForm.valid">Salva</button>
        <button type="button" mat-flat-button color="accent" (click)="onClear()" style="margin-left:3px;">Pulisci</button>
      </div>
    </div>

    <mat-form-field style="width:100%">
      <input type="text" placeholder="Dipendente" aria-label="Number" matInput [formControl]="dipendenteControl"
        [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredDipendenti | async" [value]="option">
          {{option.nome}} {{option.cognome}} - {{option.badge}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--SEZIONE per OSPITE-->
    <div *ngIf="isOspite">
      <mat-form-field style="width:100%">
        <input type="text" placeholder="Ospite" aria-label="Number" matInput [formControl]="ospiteControl"
          [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnOspite">
          <mat-option *ngFor="let option of filteredOspiti | async" [value]="option">
            {{option.nome}} {{option.cognome}} - {{option.societa}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard" style="width:100%">
        <mat-label>Badge</mat-label>
        <input matInput id='badge' formControlName='badge' required>
      </mat-form-field>
    </div>

    <br>
    <mat-form-field style="width:50%">
      <input matInput [matDatepicker]="pickerInizio" placeholder="Seleziona data entrata" formControlName="inizio"
        [min]="minDate" required>
      <mat-datepicker-toggle matSuffix [for]="pickerInizio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInizio disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width:25%">
      <mat-select placeholder="ora" formControlName="oraInizio" required>
        <mat-option>--</mat-option>

        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width:25%">
      <mat-select placeholder="minuto" formControlName="minutoInizio" required>
        <mat-option *ngFor="let minute of minutes" [value]="minute">
          {{minute}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style="width:50%">
      <input matInput [matDatepicker]="pickerFine" placeholder="Seleziona data uscita" formControlName="fine" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="pickerFine"></mat-datepicker-toggle>
      <mat-datepicker #pickerFine disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width:25%">
      <mat-select placeholder="ora" formControlName="oraFine">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width:25%">
      <mat-select placeholder="minuto" formControlName="minutoFine">
        <mat-option *ngFor="let minute of minutes" [value]="minute">
          {{minute}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>


  </form>
  <mat-checkbox placeholder="Presenza conclusa" [(ngModel)]="conclusa">Conclusa</mat-checkbox>
  <br>
  <mat-checkbox placeholder="Ospite" [(ngModel)]="isOspite">È un ospite?</mat-checkbox>


</mat-card>