@import '~@angular/material/theming';
@include mat-core();

$md-gepreprimary: (
    50 : #e1e4e6,
    100 : #b5bbbf,
    200 : #848e95,
    300 : #52606b,
    400 : #2d3e4b,
    500 : #081c2b,
    600 : #071926,
    700 : #061420,
    800 : #04111a,
    900 : #020910,
    A100 : #529cff,
    A200 : #1f7fff,
    A400 : #0065eb,
    A700 : #005ad2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-gepresecondary: (
    50 : #f5e0e7,
    100 : #e6b3c2,
    200 : #d5809a,
    300 : #c44d72,
    400 : #b72653,
    500 : #aa0035,
    600 : #a30030,
    700 : #990028,
    800 : #900022,
    900 : #7f0016,
    A100 : #ffadb5,
    A200 : #ff7a87,
    A400 : #ff4758,
    A700 : #ff2d41,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);






$gepre-primary: mat-palette($md-gepreprimary);
$gepre-accent:  mat-palette($md-gepresecondary, 500);
$gepre-warn:    mat-palette($md-gepresecondary);
$gepre-theme: mat-light-theme($gepre-primary, $gepre-accent, $gepre-warn);
@include angular-material-theme($gepre-theme);

