<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" style="background-color:#a30030">
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.content===1">
            <app-grafico></app-grafico>
          </div>
          <div *ngIf="card.content===2">
            <app-contatore></app-contatore>
          </div>
          <div *ngIf="card.content===3">
            <app-comandi></app-comandi>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card style="background-color: #a30030">
    <h3 style="color:white; margin-bottom:-30px" > 
    Gestione rapida uscita
    </h3>
    <app-presenze-list [home]=true [ricerca]=true ></app-presenze-list>
  </mat-card>
</div>